name: "Validate Module"
on: [push, pull_request]

permissions:
  contents: read
  pull-requests: write

jobs:
  terraform:
    name: Terraform Validation
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3.1.2

      - name: Run fmt
        run: terraform fmt -diff -check -no-color -recursive

      - name: Run init
        run: terraform init

      - name: Run validate
        run: terraform validate -no-color

      - uses: terraform-linters/setup-tflint@v5.0.0
        name: Setup TFLint
        with:
          tflint_version: v0.55.1

      - name: Init TFLint
        run: tflint --init

      - name: Run TFLint
        run: tflint -f compact

      - name: tfsec
        uses: aquasecurity/tfsec-pr-commenter-action@v1.3.1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}